<app-header></app-header>

<main>
  <h1>Restaurante De comidas</h1>
 
 <img src="assets/imagenes/comida1.jpeg" alt="comida1" width="300px" height="200px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="assets/imagenes/comida4.jpeg" alt="comida4" width="300px" height="200px"> Waffles
 <p>Tacos al pastor</p>  

 <img src="assets/imagenes/comida2.jpg" alt="comida2" width="300px" height="200px">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="assets/imagenes/comida5.jpeg" alt="comida5" width="300px" height="200px"> Ramen
 <p>Hamburguesa</p> 

 <img src="assets/imagenes/comida3.jpeg" alt="comida3" width="300px" height="200px">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="assets/imagenes/comida6.jpeg" alt="comida6" width="300px" height="200px"> Sushi
 <p>ensalada</p> 

 <img src="assets/imagenes/comida7.jpeg" alt="comida7" width="300px" height="200px">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="assets/imagenes/comida8.jpeg" alt="comida8" width="300px" height="200px"> Espaguitis 
 <p>Boloñesa</p> 
</main>

<app-footer></app-footer>
